<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{session.user.userName}} ({{session.user.email}}) History</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <h2>WEB322 {{session.user.userName}} ({{session.user.email}}) History</h2>
        <table class="table">
            <thead>
                <tr><th scope="col">Login Date/Time</th><th scope="col">Client Information</th></tr>
            </thead>
            <tbody>
                {{#each session.user.loginHistory}}
                <tr><td>{{this.dateTime}}</td><td>{{this.userAgent}}</td></tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
